@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-full py-2 px-3 uppercase text-xs font-semibold cursor-pointer tracking-wider;
}

.header {
  padding: 60px;
  text-align: center;
  background: url(/Users/mattseah/Documents/GitHub/cookwhatsia/src/images/cookingback.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

body {
  background: url(/Users/mattseah/Documents/GitHub/cookwhatsia/src/images/background-marble.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about {
  background: url(/Users/mattseah/Documents/GitHub/cookwhatsia/src/images/dining.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 92.4%;
  height: 55%;
}